@import 'normalize.css';
:root {
    --primary: #1a9fff;
    --steamPrice: #beee11;
    --steamOldPrice: #354554;
    --steamColorWhite: #ffffff;
    --steamColorBlack: black;
    --steamFontNavBar: #7a8b9d;
    --steamPopUpSearch: #242830;
    --steamHoverPopUp: #e7e7e7f1;
    --steamColorSearch: #eeeeee;
    --steamColorSelectCart: #2e3237;
    --steamFontBackground: #131518;
    --steamBackgroundPrice: #4c6b22;
    --steamBackground: #171a21;
    --steamBackgroundCartPay: #1a2330;
    // =========
    --steamTextShadow: 2px 3px 13px rgba(255, 255, 255, 0.63);
    --steamTextShadowBlack: 2px 3px 13px rgba(39, 135, 244, 0.63);
    // =========
    --steamBoder: 5px;
    // =========
    --steamBoxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --steamBoxShadowWhite: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    --steamBoxShadowPrimary: rgba(75, 135, 178, 0.35) 0px 5px 15px;
    --steamBoxShadowHover: rgba(32, 173, 255, 0.35) 0px 5px 15px;
    // =========
    --default-layout-header-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

[data-theme='light'] {
    --bgTheme: #ffffff;
    --bgTran: rgba(0, 0, 0, 0.548);
    --bgContent: #283d57;
    // =========
    --activeNavLink: var(--primary);
    --activePrimary: #ffffff;
    --activeSwitch: #ffffff;
    --activeLight: var(--primary);
    --activeLight: linear-gradient(to right, rgba(255, 255, 255, 0.493), rgb(0, 153, 255));
    --activeScrollBar: var(--steamColorWhite);
    --activeFilter: none;
    --activeBackgroundCartPay: linear-gradient(to right, rgb(47, 44, 44), rgba(14, 127, 240, 0.712));
    --activeButtonPayCart: var(--steamBackground);
    --activeLightShadow: var(--steamBoxShadow);
    --activeCardFree: var(--bgContent);
    --activeTextLightDark: black;

    // =========
    --hoverTextLight: var(--steamTextShadowBlack);
}
[data-theme='dark'] {
    --bgTheme: var(--steamFontBackground);
    --bgTran: transparent;
    --bgContent: var(--steamBackground);

    // =========
    --activeNavLink: #ffffff;
    --activePrimary: var(--primary);
    --activeSwitch: #131518;
    --activeLight: linear-gradient(to left, rgba(71, 71, 71, 0.493), rgba(0, 0, 0, 0.709));
    --activeScrollBar: #434953;
    --activeFilter: blur(30px) saturate(5);
    --activeBackgroundCartPay: var(--steamBackgroundCartPay);
    --activeButtonPayCart: linear-gradient(to right, #1ba5ef 0%, #1f46bb 60%);
    --activeLightShadow: var(--steamBoxShadowWhite);
    --activeCardFree: #ffffff;

    --activeTextLightDark: #ffffff;

    // =========
    --hoverTextLight: var(--steamTextShadow);
}

body {
    font-family: 'Motiva Sans', sans-serif;
    display: block;
    font-size: 1.6rem;
    font-style: normal;
    color: var(--steamColorWhite);
    background-color: var(--bgContent);
    overflow-x: hidden;
}

// custom scroll bar
::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-corner {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--activeScrollBar);
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color 0.32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

::selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px #000000aa;
    color: #fff;
}

// Remmove background paste chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

a [href] {
    color: var(--steamColorWhite);
    text-decoration: none;
}
a:-webkit-any-link {
    text-decoration: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

// Fonts steam
@font-face {
    font-family: 'Motiva Sans';
    src: url('/assets/Fonts/MotivaSans-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/assets/Fonts/MotivaSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/assets/Fonts/MotivaSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/assets/Fonts/MotivaSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/assets/Fonts/MotivaSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('/assets/Fonts/MotivaSans-Thin.ttf');
    font-weight: 100;
}

// custom tippy tooltip
body {
    .tippy-box {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
        color: var(--steamFontBackground);
        background-color: white;
    }

    .tippy-arrow {
        color: var(--steamColorWhite);
    }
}

// Css Totas
.toast-notifications {
    font-weight: 700;
    color: black;
    font-size: 12px;
}
