@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
:root {
    --primary: #1a9fff;
    --steamPrice: #beee11;
    --steamBackgroundPrice: #4c6b22;
    --steamOldPrice: #354554;
    --steamBackground: #171a21;
    --steamColorFont: #ffffff;
    --steamFontNavBar: #7a8b9d;
    --steamFontBackground: #1b2e40;
}
html {
    font-size: 62.5%;
}

body {
    display: block;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    color: var(--steamColorFont);
    background-color: var(--steamBackground);
}
