.wrapper_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.content_cart_link_title {
    width: 100%;
    margin-bottom: 20px;
    text-align: start;
}

.content_cart_link_title p {
    font-size: 1.4rem;
    color: var(--steamColorWhite);
    transition: calc(0.3s);
    padding-top: 10%;
    margin-bottom: 10px;
    font-weight: 300;

    a:hover {
        color: var(--primary);
        transition: calc(0.2s);
    }
}

.content_cart_link_title h2 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--steamColorWhite);
}

.container_cart_game_pay {
    display: flex;
    justify-content: space-between; /* Optional: Adds space between columns */
    width: 100%; /* Ensure the container takes the full width */
}

.content_games {
    display: flex;
    flex-wrap: wrap;
    width: 70%; /* Adjust based on your layout preference */
}
.content_game_cart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    background-color: #1a2330;
    border-radius: var(--steamBoder);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.check_select label {
    display: block;
    margin-right: 10px;

    input[type='checkbox'] {
        -webkit-transform: scale(1.2);
        cursor: pointer;
        transform: scale(1.2);
        padding: 10px;
    }
}

.image_game img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.title_game_cart {
    flex: 1;
    text-transform: capitalize;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--steamColorWhite);
}
.icon_for_system {
    margin-top: 5px;
    opacity: 0.5;
}

.price {
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color: var(--steamColorWhite);
}

.content_button_select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 0px 22px;
    width: 100%;

    select,
    button {
        margin-right: 10px;
        padding: 5px;
        border: none;
        border-radius: var(--steamBoder);
        font-size: 14px;
    }

    select {
        box-shadow: var(--steamBoxShadow);
        color: var(--steamColorWhite);
        background-color: #2e3237;
        cursor: pointer;
        transition: calc(0.3s);

        &:hover {
            background-color: #424850;
            transition: calc(0.2s);
        }

        &:focus {
            outline: none;
        }
    }
}

.content_button_select button:first-child {
    background-color: #3c4b5c;
    color: #fff;
    box-shadow: var(--steamBoxShadow);
    transition: calc(0.4s);

    &:hover {
        background-color: var(--primary);
        cursor: pointer;
        transition: calc(0.3s);
    }
}
.content_button_select button:last-child {
    background-color: #3c4b5c;
    color: #fff;
    box-shadow: var(--steamBoxShadow);

    &:hover {
        background-color: #ed5f46;

        cursor: pointer;
        transition: calc(0.3s);
    }
}

// css input number
.number_game {
    box-shadow: var(--steamBoxShadow);
}

.input-number {
    width: 40px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    font-weight: 700;
    cursor: context-menu;

    background-color: var(--steamColorWhite);
}

.input-number,
.input-number-decrement,
.input-number-increment {
    height: 25px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 20px;
    line-height: 22px;
    background: var(--steamColorWhite);
    color: var(--steamColorBlack);
    text-align: center;
    font-weight: bold;
    transition: calc(0.3s);

    &:hover {
        transition: calc(0.2s);
        cursor: pointer;
        color: var(--steamColorWhite);
        background-color: #3c4b5c;
    }
}
.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

// css column left pay
.content_money_pay {
    width: 320px;
    height: 150px;
    background-color: #1a2330;
    border-radius: 10px;
    padding: 20px;
    p {
        font-size: 1.2rem;
    }
}

.total_pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.title_money {
    font-weight: bold;
    color: var(--steamColorWhite);
}

.total_money_pay {
    font-size: 1.4rem;
    color: var(--steamColorWhite);
    font-weight: bold;
}

.button_pay_game button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #1ba5ef 0%, #1f46bb 60%);
    background-position: 0%;
    background-size: 330% 100%;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: var(--steamBoder);
    cursor: pointer;
    margin-top: 10px;
    transition: calc(0.4s);

    &:hover {
        background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
        background-position: 0%;
        background-size: 330% 100%;
        transition: calc(0.2s);
        box-shadow: var(--steamBoxShadow);
    }
}

// css button cuối
.button_bottom_cart_pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 20px;

    button {
        padding: 10px 20px;
        background-color: #2e3237;
        color: #fff;
        border: none;
        border-radius: var(--steamBoder);
        cursor: pointer;
        transition: calc(0.3s);

        &:hover {
            background: #464d58;
            color: #fff;
            box-shadow: var(--steamBoxShadow);
            transition: calc(0.2s);
        }
    }
    p {
        font-size: 1.4rem;
        color: var(--activeScrollBar);
        text-decoration: underline;
        cursor: pointer;
        transition: calc(0.3s);

        &:hover {
            color: var(--steamColorWhite);
            transition: calc(0.2s);
        }
    }
}

// ẩn mũi tên type = number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
