.wrapper_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.content_cart_link_title {
    width: 100%;
    margin-bottom: 20px;
    text-align: start;
}

.content_cart_link_title p {
    font-size: 1.2rem;
    color: var(--steamColorWhite);
    transition: calc(0.3s);
    padding-top: 8%;
    margin-bottom: 10px;

    a:hover {
        color: var(--primary);
        transition: calc(0.2s);
    }
}

.content_cart_link_title h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--steamColorWhite);
}

.container_cart_game_pay {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content_games {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.content_game_cart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    background: var(--activeBackgroundCartPay);
    border-radius: var(--steamBoder);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.select_all {
    font-size: 1.2rem;
    color: #a8a8a8;
    padding: 10px 0px 0px 0px;

    input:hover {
        cursor: pointer;
    }
}
// css check select for game
.check_select {
    display: flex;
    label {
        display: block;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding-left: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            cursor: pointer;
            opacity: 0;
            height: 0;
            width: 0;
        }
        input:checked ~ .checkbox__checkmark {
            background-color: rgb(35, 128, 250);
        }
        input:checked ~ .checkbox__checkmark:after {
            opacity: 1;
        }

        .checkbox__checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: var(--steamColorWhite);
            transition: background-color 0.25s ease;
            border-radius: 4px;
            box-shadow: var(--steamBoxShadow);
        }
        .checkbox__checkmark:after {
            content: '';
            position: absolute;
            left: 7px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity 0.25s ease;
        }
        .checkbox__body {
            line-height: 1.4;
            font-size: 16px;
        }
    }
}

.image_game img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--steamBoxShadow);
}
.icon_system {
    padding-right: 5px;
}

.title_game_cart {
    flex: 1;
    text-transform: capitalize;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--steamColorWhite);
}
.icon_for_system {
    margin-top: 5px;
    opacity: 0.5;
}

.price {
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color: var(--steamColorWhite);
}

.content_button_select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 0px 22px;
    width: 100%;

    select,
    button {
        margin-right: 10px;
        padding: 5px;
        border: none;
        border-radius: var(--steamBoder);
        font-size: 14px;
    }

    select {
        box-shadow: var(--steamBoxShadow);
        color: var(--steamColorWhite);
        background-color: var(--steamColorSelectCart);
        cursor: pointer;
        transition: calc(0.3s);

        &:hover {
            background-color: #424850;
            transition: calc(0.2s);
        }

        &:focus {
            outline: none;
        }
    }
}

// button
.content_button_select button:first-child {
    background-color: var(--steamColorSelectCart);
    color: #fff;
    box-shadow: var(--steamBoxShadow);
    transition: calc(0.4s);

    &:hover {
        background-color: var(--primary);
        cursor: pointer;
        transition: calc(0.3s);
    }
}
.content_button_select button:last-child {
    background-color: var(--steamColorSelectCart);
    color: #fff;
    box-shadow: var(--steamBoxShadow);

    &:hover {
        background-color: #ed5f46;

        cursor: pointer;
        transition: calc(0.3s);
    }
}

// css input number
.number_game {
    box-shadow: var(--steamBoxShadow);
}

.input-number {
    width: 40px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    font-weight: 700;
    cursor: context-menu;
    pointer-events: none;
    background-color: var(--steamColorWhite);
}

.input-number,
.input-number-decrement,
.input-number-increment {
    height: 25px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 20px;
    line-height: 22px;
    background: var(--steamColorWhite);
    color: var(--steamColorBlack);
    text-align: center;
    font-weight: bold;
    transition: calc(0.3s);

    &:hover {
        transition: calc(0.2s);
        cursor: pointer;
        color: var(--steamColorWhite);
        background-color: #3c4b5c;
    }
}
.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

// css column left pay | làm cho nó đi theo khi mình lướt
.content_money_pay {
    width: 320px;
    height: 150px;
    background: var(--activeBackgroundCartPay);
    border-radius: 10px;
    padding: 20px;
}

.total_pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.title_money {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--steamColorWhite);
}

.total_money_pay {
    font-size: 1.8rem;
    color: var(--steamColorWhite);
    font-weight: bold;
}
.tax_text_cart {
    font-size: 1.2rem;
}

.button_pay_game button {
    width: 100%;
    padding: 10px;
    background: var(--activeButtonPayCart);
    background-position: 0%;
    background-size: 330% 100%;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: var(--steamBoder);
    cursor: pointer;
    margin-top: 20px;
    transition: calc(0.4s);
    box-shadow: var(--steamBoxShadow);

    &:hover {
        transition: calc(0.4s);
        transform: scale(0.98);
        background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
        background-position: 0%;
        background-size: 330% 100%;
    }
}

// css button cuối
.button_bottom_cart_pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 20px;

    button {
        padding: 10px 20px;
        background-color: var(--steamColorSelectCart);
        color: #fff;
        border: none;
        border-radius: var(--steamBoder);
        cursor: pointer;
        transition: calc(0.3s);

        &:hover {
            background: #464d58;
            color: #fff;
            box-shadow: var(--steamBoxShadow);
            transition: calc(0.2s);
        }
    }
    p {
        font-size: 1.4rem;
        color: var(--activeScrollBar);
        text-decoration: underline;
        cursor: pointer;
        transition: calc(0.3s);

        &:hover {
            color: var(--steamColorWhite);
            transition: calc(0.2s);
        }
    }
}

// ẩn mũi tên type = number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// popup

.popup_payment {
    position: absolute;
    top: 20%;
    left: 40px;
    right: 40px;
    background: #1d1d1d;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 55, 55, 0.63);
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-option {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.close-modal {
    margin-top: 20px;
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
