// .game_detail {
// background: url('https://cdn.akamai.steamstatic.com/store/promo/summer2024/summer2024_tile_bg.png');
// z-index: -10;
// }
.card-wrapper {
    max-width: 1100px;
    height: 600px;
    margin: 0 auto;
}

.swiper-slide {
    width: 100%;

    video {
        width: 100%;
        height: 360px;
    }
}

.product-imgs {
    height: 500px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.37);
    padding: 8px 16px;
    border-radius: var(--steamBoder);
    color: rgb(255, 255, 255);
    transition: calc(0.4s);

    &:hover {
        transition: calc(0.2s);
        box-shadow: var(--steamBoxShadow);
        background-color: var(--steamColorWhite);
        color: var(--steamColorBlack);
    }

    &:active {
        background-color: #c5c5c5;
    }
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: 700;
    font-size: 1.8rem;
}
.swiper-pagination-bullet {
    width: 30px;
    border-radius: 2px;
    background-color: var(--steamColorWhite);
}
.swiper-custom-pagination {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
    display: block;
}

.img-display {
    position: relative;
    overflow: hidden;
    width: 640px;
    height: 355px;
    border-radius: var(--steamBoder);
}

// css cho ảnh loan màu và video
.img-display-glow {
    position: absolute;
    width: 640px;
    height: 450px;
    border-radius: var(--steamBoder);
    filter: blur(30px) saturate(5);
    z-index: -1;
}

.img-showcase {
    display: flex;
    justify-self: end;
    width: 640px;
    transition: all 0.5s ease;
}
.img-showcase img {
    width: 640px;
    cursor: zoom-in;
}
.img-select {
    margin-top: 10px;
    width: 64rem;

    // Code không cho người dùng bôi đen ảnh
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    img {
        border-radius: var(--steamBoder);
        transition: calc(0.3s);
        border: 2px solid transparent;

        &:hover {
            transition: calc(0.3s);
            border: 2px solid var(--steamColorWhite);
            cursor: pointer;
        }

        &:active {
            opacity: 0.5;
        }
    }
}

// css cho swiper là thumbnail video
.thumbnail-container {
    position: relative;
    display: inline-block;
}

.thumbnail-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.thumbnail-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--steamBoder);
    background: rgba(0, 0, 0, 0.5); /* Background mờ */
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.thumbnail-container .overlay .play-icon {
    font-size: 3rem;
    color: white;
}

.thumbnail-container:hover .overlay {
    cursor: pointer;
    transition: calc(0.3s);
    border: 2px solid var(--steamColorWhite);
}

// css cho popup ảnh phóng to
/* Modal Container */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000; /* Ensure modal is on top */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    overflow: hidden;
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    padding: 50px;
    border-radius: var(--steamBoder);
    max-width: 85%;
    max-height: 85%;
    animation: zoomIn 0.3s ease-out;
}

.modal-content.zoom-out {
    animation: zoomOut 0.3s ease-in;
}

/* Close Button */
.close-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 4rem;
    cursor: pointer;

    text-shadow: var(--steamTextShadow);
    color: var(--steamColorWhite);
    transition: calc(0.4s);

    &:hover {
        color: #a6a6a6;
        transition: calc(0.2s);
    }
    &:active {
        color: #535353;
    }
}

/* Media (Image or Video) Inside Modal */
.modal-media {
    width: 80%;
    height: 50%;
    border: none !important;
}

/* Optional Animation */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

// column left
.header_image_game {
    position: relative;
    width: 345px;

    img {
        box-shadow: var(--steamBoxShadow);
        border-radius: var(--steamBoder);
    }

    .glow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(30px) saturate(5);
    }
}

.product-content {
    width: 445px;
    height: 550px;
    padding: 2rem 1rem;
    margin-top: 22px;
}

.product-rating {
    padding: 1rem 0rem;
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: var(--steamColorWhite);
}

.product-price {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;

    span {
        font-weight: 400;
    }
}

.last-price {
    font-weight: 400;
    strike {
        text-decoration: none;
        position: relative;
        color: #ffffff7e;
        font-size: 1.4rem;
        font-weight: 500;
    }

    strike::before {
        top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
        background: #939393; /*this is the color of the line*/
        content: '';
        width: 100%;
        position: absolute;
        height: 0.1em;
        left: -1%;
        white-space: nowrap;
        display: block;
        transform: rotate(-6deg);
    }
}

.new-price {
    font-weight: 400;
    span {
        color: var(--steamPrice);
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.sale_price_percent {
    padding: 5px;
    box-shadow: var(--steamBoxShadow);
    border-radius: var(--steamBoder);
    background-color: var(--steamBackgroundPrice);
}

.product-detail p {
    width: 330px;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.4rem;
    padding-top: 10px;
    color: var(--steamColorWhite);
}

.game_author_date {
    width: 120px;
    font-size: 1.3rem;
    p {
        color: #a6a6a6;
    }
    span {
        color: var(--steamColorWhite);
        font-weight: 300;
        padding-left: 10px;
    }
}

.purchase-info {
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn {
    border-radius: var(--steamBoder);
    text-align: center;
    padding: 0.5rem 1rem;
    outline: 0;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}
.purchase-info input {
    width: 20px;
}
.purchase-info .btn {
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.purchase-info .btn:first-of-type {
    color: #d2efa9;
    background: #6fa720;
    background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
}
.purchase-info .btn:last-of-type {
    background: var(--primary);
}
.purchase-info .btn:hover {
    opacity: 0.9;
    color: var(--steamColorWhite);
}

// css chọn bản game
.select_game_edition {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);

    appearance: none;
    border: 0;
    outline: 0;
    color: var(--steamColorWhite);
    width: 32rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }

    &:focus {
        outline: none;
    }

    option {
        background-color: var(--option-bg);
        color: var(--steamColorBlack);
    }
}

// css review

.about_game {
    margin: 0 auto;
    display: block;
    max-width: 135rem;
    > *:not(.tab-wrap) {
        padding: 0 80px;
    }
}

$max-tab-count: 5;
$tab-wrap-border-radius: 6px;
.tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: $tab-wrap-border-radius;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: var(--steamColorWhite);
    margin: 40px 0;
    box-shadow: var(--steamBoxShadow);
    &:hover {
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
    }
}

.tab {
    display: none;
    @for $i from 1 through $max-tab-count {
        &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
            opacity: 1;
            transition: 0.5s opacity ease-in, 0.8s transform ease;
            position: relative;
            top: -50;
            z-index: 1;
            transform: translateY(0px);
            text-shadow: 0 0 0;
        }
    }
    &:first-of-type:not(:last-of-type) + label {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &:not(:first-of-type):not(:last-of-type) + label {
        border-radius: 0;
    }
    &:last-of-type:not(:first-of-type) + label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &:checked + label {
        background-color: var(--steamColorBlack);
        color: var(--steamColorWhite);
        text-shadow: var(--steamTextShadow);
        cursor: default;

        &:hover {
            background-color: var(--steamBackgroundPrice);
        }
    }
    + label {
        border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
        cursor: pointer;
        display: block;
        text-decoration: none;
        color: #333;
        flex-grow: 3;
        text-align: center;
        background-color: #f2f2f2;
        user-select: none;
        text-align: center;
        transition: 0.3s background-color ease, 0.3s box-shadow ease;
        height: 50px;
        box-sizing: border-box;
        padding: 15px;
        &:hover {
            background-color: #f9f9f9;
            box-shadow: 0 1px 0 #f4f4f4 inset;
        }
    }
    &__content {
        padding: 10px 25px;
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0;
        left: 0;
        color: var(--steamColorBlack);
        transform: translateY(-3px);
        border-radius: $tab-wrap-border-radius;
    }
}

// reponsive
@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs {
        display: flex;

        flex-direction: column;
        justify-content: center;
    }
    .product-content {
        padding-top: 0;
    }
}
