.wrapper_reset_pass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/images/background-reset-pass.jpg') no-repeat center center/cover;

    &::before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5); // Optional: add a dark overlay
        z-index: -1;
    }
}

// CSS for the email input form
.container-reset-pass {
    position: relative;
    z-index: 1;
    max-width: 450px;
    height: 299px;
    margin: 0 auto;
    padding: 20px;
    background: var(--steamBackground);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
        text-align: center;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    fieldset {
        border: none;
        margin: 0 0 20px;
        padding: 0;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type='email'] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        font-weight: 500;
        border-radius: 4px;
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .copyright {
        font-size: 1.2rem;
        display: flex;
        margin: 10px 0;
    }

    .follow {
        margin-top: 5px;
    }
}
