.wrapper {
    position: relative;
    --steamBackgroundRepeat: top center / 280px 280px no-repeat fixed padding-box content-box;
}

.full-screen-slider::before {
    content: '';
    position: relative;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.full-screen-slider::after {
    background: linear-gradient(
        80deg,
        #181818 10%,
        hsla(0, 0%, 9%, 0.98) 20%,
        hsla(0, 0%, 9%, 0.97) 25%,
        hsla(0, 0%, 9%, 0.95) 35%,
        hsla(0, 0%, 9%, 0.94) 40%,
        hsla(0, 0%, 9%, 0.92) 45%,
        hsla(0, 0%, 9%, 0.9) 50%,
        hsla(0, 0%, 9%, 0.87) 55%,
        hsla(0, 0%, 9%, 0.82) 60%,
        hsla(0, 0%, 9%, 0.75) 65%,
        hsla(0, 0%, 9%, 0.63) 70%,
        hsla(0, 0%, 9%, 0.45) 75%,
        hsla(0, 0%, 9%, 0.27) 80%,
        hsla(0, 0%, 9%, 0.15) 85%,
        hsla(0, 0%, 9%, 0.08) 90%,
        hsla(0, 0%, 9%, 0.03) 95%,
        hsla(0, 0%, 9%, 0)
    );
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 500px;
    top: 0;
    height: 550px;
    z-index: 0;
}

.full-screen-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: absolute;
}

.full-screen-content {
    position: absolute;
    top: 8rem;
    margin-left: 5vw;
    z-index: 100;

    h2 {
        width: 500px;
        font-size: 3rem;
        font-weight: 900;
        padding-left: 6px;
    }

    p {
        width: 500px;
        font-size: 1.2rem;
        padding-top: 10px;
        font-weight: 500;
        padding-left: 8px;
    }
}

.game_swiper_container {
    position: sticky;
    padding-top: 500px;
    overflow: visible;
}

.game_swiper_slide {
    display: flex;
    position: relative;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-start;
}

.about_game_content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.poster_game_full_img {
    width: 150px;
    margin-top: 10px;
    transition: calc(0.4s);
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.5);
    transition: all ease 0.28s 0.01s;
    transform: perspective(222px) translate3d(0px, 5px, 0px) rotateX(0deg);
    perspective-origin: top;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: var(--steamBoder);
    cursor: pointer;

    &::before {
        width: 100%;
        height: 172%;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background-image: linear-gradient(
            35deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.07) 51.5%,
            rgba(255, 255, 255, 0.15) 54%,
            rgba(255, 255, 255, 0.15) 100%
        );

        transform: translateY(-36%);
        opacity: 0.5;
        transition: all ease 0.28s 0.01s;
    }

    &:hover,
    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.1);
        transform: perspective(222px) translate3d(0px, 0px, 8px) rotateX(3deg);
        transform-origin: center;
        box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);

        &::before {
            opacity: 1;
            transform: translateY(-20%);
        }
    }

    &:active {
        filter: brightness(80%) contrast(110%);
    }

    img {
        border-radius: var(--steamBoder);
        box-shadow: var(--steamBoxShadow);
    }
}

.info_button_price_game {
    margin-left: 10px;

    .button-detail-game {
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: var(--steamBoder);
        padding: 1rem 1.8rem;
        margin-top: 1.2rem;
        color: var(--steamColorWhite);
        background-color: var(--primary);
        transform: scale(0.9);
        transition: calc(0.3s);
        box-shadow: var(--steamBoxShadow);

        &:hover {
            cursor: pointer;
            transform: scale(1);
            transition: calc(0.2s);
            box-shadow: var(--steamBoxShadowHover);
        }
    }

    .add-btn-card {
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: var(--steamBoder);
        padding: 0.8rem 1.8rem;
        margin-top: 1.2rem;
        color: var(--steamColorBlack);
        background-color: var(--steamColorWhite);
        transform: scale(0.9);
        transition: calc(0.3s);
        box-shadow: var(--steamBoxShadow);

        &:hover {
            cursor: pointer;
            transform: scale(1);
            transition: calc(0.2s);
            box-shadow: var(--steamBoxShadowWhite);
        }
    }

    .product-price-steam {
        position: relative;
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        width: 200px;
        height: 60px;
        margin-left: 8px;
        border-radius: var(--steamBoder);
        background-color: #333742;
        box-shadow: var(--steamBoxShadow);

        span {
            font-weight: 500;
        }

        .sale_price_percent {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -5px;
            right: -15px;
            width: 40px;
            height: 25px;
            opacity: 0.95;

            box-shadow: var(--steamBoxShadow);
            border-radius: var(--steamBoder);
            background-color: var(--steamBackgroundPrice);
        }
    }
}

.discount-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 9px;
    width: 50px;
    height: 25px;
    opacity: 0.95;
    border-radius: 10px 10px 0px 10px;
    color: var(--steamPrice);
    background-color: var(--steamBackgroundPrice);
    transform: perspective(220px) translate3d(0px, 5px, 0px) rotateX(0deg);
    font-weight: 700;
    font-size: 1.4rem;
}
// .game_swiper_slide .img-header-games-active {
//     --border-angle: 0turn;
//     --main-bg: conic-gradient(from var(--border-angle), #213, #112 5%, #112 60%, #213 95%);
//     border: solid 2px transparent;
//     --gradient-border: conic-gradient(
//         from var(--border-angle),
//         transparent 25%,
//         rgb(0, 121, 157),
//         var(--primary) 99%,
//         transparent
//     );
//     background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
//     background-position: center center;
//     -webkit-animation: bg-spin 3s linear infinite;
//     animation: bg-spin 3s linear infinite;
// }

// @-webkit-keyframes bg-spin {
//     to {
//         --border-angle: 1turn;
//     }
// }
// @keyframes bg-spin {
//     to {
//         --border-angle: 1turn;
//     }
// }

// @property --border-angle {
//     syntax: '<angle>';
//     inherits: true;
//     initial-value: 0turn;
// }

.game_swiper_slide img {
    position: absolute;
    width: 220px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.25);
    transition: all ease 0.28s 0.01s;
    transform: perspective(220px) translate3d(0px, 5px, 0px) rotateX(0deg);

    &:hover,
    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.1);
        transform: perspective(222px) translate3d(0px, 0px, 8px) rotateX(3deg);
        transform-origin: center;
        box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    &:active {
        filter: brightness(80%) contrast(110%);
    }
}

.glow {
    z-index: -1;
    filter: var(--activeFilter);
}

.content_game_poster {
    padding-top: 200px;
}

.game-image-festival {
    display: flex;
    justify-content: center;
    gap: 10px;

    padding: 20px;
    margin-top: 25px;
    transition: calc(0.4s);

    img {
        width: 590px;
        height: 100px;
        object-fit: fill;
        box-shadow: var(--activeLightShadow);
        border-radius: var(--steamBoder);
    }
}

// css thể loại game | thể loại đại diện game
.swiper_background_genres {
    margin: 0px 0px 40px 50px;
}

.swiper_game_genres {
    overflow: hidden;
    text-align: center;
    width: 125rem;
    height: 300px;
    padding: 10px;
    display: flex;

    justify-content: center;
    align-items: center;

    // css ảnh nền chung thể loại
    .background-url-img-type-1,
    .background-url-img-type-2,
    .background-url-img-type-3,
    .background-url-img-type-4,
    .background-url-img-type-5,
    .background-url-img-type-6,
    .background-url-img-type-7,
    .background-url-img-type-8 {
        position: relative;
        display: block;
        width: 280px;
        height: 250px;
        margin-left: 10px;
        object-fit: cover;
        border-radius: var(--steamBoder);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.25);
        transition: all ease 0.28s 0.01s;
        transform: perspective(220px) translate3d(0px, 5px, 0px) rotateX(0deg);

        &:hover,
        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.1);
            transform: perspective(222px) translate3d(0px, 0px, 14px) rotateX(2deg);
            transform-origin: center;
            box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            border-radius: var(--steamBoder);
            pointer-events: none;
        }

        &:active {
            filter: brightness(80%) contrast(110%);
        }
    }

    h3 {
        position: relative;
        display: flex;
        justify-content: center;
        top: 80%;
        bottom: 0;
        z-index: 3;
        text-transform: uppercase;
    }

    // ảnh nền từng loại
    .background-url-img-type-1 {
        background: url(../../assets/images/imgType/action.webp) var(--steamBackgroundRepeat);

        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 0));
        }
    }
    .background-url-img-type-2 {
        background: url(../../assets/images/imgType/adventure.webp) var(--steamBackgroundRepeat);

        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 139) 100%);
        }
    }
    .background-url-img-type-3 {
        background: url(../../assets/images/imgType/anime.webp) var(--steamBackgroundRepeat);

        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(184, 134, 11) 100%);
        }
    }
    .background-url-img-type-4 {
        background: url(../../assets/images/imgType/casual.webp) var(--steamBackgroundRepeat);
        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 100, 0) 100%);
        }
    }
    .background-url-img-type-5 {
        background: url(../../assets/images/imgType/fighting_martial_arts.webp) var(--steamBackgroundRepeat);
        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 139, 139) 100%);
        }
    }
    .background-url-img-type-6 {
        background: url(../../assets/images/imgType/horror.webp) var(--steamBackgroundRepeat);
        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 139) 100%);
        }
    }
    .background-url-img-type-7 {
        background: url(../../assets/images/imgType/multiplayer_coop.webp) var(--steamBackgroundRepeat);
        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 0) 100%);
        }
    }
    .background-url-img-type-8 {
        background: url(../../assets/images/imgType/racing.webp) var(--steamBackgroundRepeat);
        &::after {
            background: linear-gradient(rgba(0, 0, 0, 0), rgb(184, 134, 11));
        }
    }
}

// css arrow cho swiper thể loại

// css poster game | game đại diện thể loại
.swiper_background_poster_game {
    margin-top: 20px;
    margin-left: 15px;
}

.title_poster_game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140rem;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 1rem solid var(--primary);

    span {
        font-size: 1.4rem;
        text-decoration: underline;
        color: var(--activeScrollBar);

        &:hover {
            cursor: pointer;
            opacity: 0.8;
            text-shadow: var(--activeLightShadow);
        }
    }
}

.swiper_poster_game {
    overflow: visible;
    text-align: center;
    width: 140rem;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        position: relative;
        display: block;
        width: 180px;
        height: 250px;
        margin-left: 10px;
        object-fit: fill;
        border-radius: var(--steamBoder);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.25);
        transition: all ease 0.28s 0.01s;
        transform: perspective(200px) translate3d(0px, 5px, 0px) rotateX(0deg);

        &:hover,
        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.1);
            transform: perspective(202px) translate3d(0px, 0px, 5px) rotateX(2deg);
            transform-origin: center;
            box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        &:active {
            filter: brightness(80%) contrast(110%);
        }
    }
}

// css feature
.carousel {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    background: var(--activeLight);
    color: white;
    padding: 30px;
}

.carousel-left {
    max-width: 40%;
}

.carousel-left h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.carousel-left p {
    font-size: 18px;
    margin-bottom: 20px;
}

.carousel-left button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--activeCardFree);
    color: var(--bgTheme);
    font-weight: 600;
    transition: calc(0.4s);

    &:hover {
        cursor: pointer;
        transform: scale(1);
        transition: calc(0.2s);
        box-shadow: var(--steamBoxShadowWhite);
    }
}

.carousel-right {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.carousel-right::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Webkit browsers */
    width: 500px;
    height: 500px;
}
// css cái này sau
.carousel-track {
    display: flex;
    gap: 20px;
}

.carousel-item {
    background-color: var(--activeCardFree);
    color: var(--bgTheme);
    width: 180px;
    height: 280px;
    border-radius: 10px;
    text-align: center;
    border-radius: var(--steamBoder);
    box-shadow: var(--activeLightShadow);
    transition: calc(0.3s);

    &:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: calc(0.2s);
    }
}

.carousel-item img {
    width: 100%;
    height: 85%;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.carousel-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.carousel-item p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.carousel-item span {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

// css popup

/* Modal Styles */
/* Overlay (background tối khi modal mở) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

// animation test

/* Modal container */
.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--activeBackgroundCartPay);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 510px;
    overflow: auto;
}

/* Nội dung modal */
.modal_content {
    padding: 5px;
}

.poster_popup_gen {
    display: flex;
    align-items: center;

    img {
        position: relative;
        display: block;
        width: 120px;
        height: 150px;
        margin-left: 10px;
        object-fit: fill;
        border-radius: var(--steamBoder);
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.25);
        transition: all ease 0.28s 0.01s;
        transform: perspective(200px) translate3d(0px, 5px, 0px) rotateX(0deg);

        &:hover,
        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.1);
            transform: perspective(202px) translate3d(0px, 0px, 5px) rotateX(2deg);
            transform-origin: center;
            box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    .description-game-popup {
        width: 480px;
        padding: 20px;
        font-size: 1.4rem;
    }
}

/* Ảnh nền trong modal */
.image_container {
    position: relative;
    display: inline-block;
}

.modal_background {
    display: flex;
    width: 500px;
    height: auto;
    position: relative;
    z-index: 2;
    border-radius: var(--steamBoder);
}
.glow_popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: var(--activeFilter);
    opacity: 0.7;
    border-radius: var(--steamBoder);
}
.price_container_popup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 1.4rem;
}

/* Phần giá cả */
.price_old {
    span {
        color: var(--steamFontNavBar);
    }
}

.price-discounted {
    span {
        color: var(--steamPrice);
    }
}

.price_percentSavings {
    padding: 5px;
    box-shadow: var(--steamBoxShadow);
    border-radius: var(--steamBoder);
    background-color: var(--steamBackgroundPrice);
}

// game name
.game_name_popup {
    font-size: 2.4rem;
    margin: 5px;
    padding: 10px;
    border-left: 0.8rem solid var(--primary);
}

/* Các nút bấm trong modal */
.modal_buttons {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-detail-game-popup {
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: var(--steamBoder);
    padding: 1rem 1.8rem;
    margin-top: 1.2rem;
    color: var(--steamColorBlack);
    background-color: var(--steamColorWhite);
    transform: scale(0.9);
    transition: calc(0.3s);
    box-shadow: var(--steamBoxShadow);
}
.add-btn-card-popup {
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: var(--steamBoder);
    padding: 1rem 1.8rem;
    margin-top: 1.2rem;
    color: var(--steamColorWhite);
    background-color: var(--primary);
    transform: scale(0.9);
    transition: calc(0.3s);
    box-shadow: var(--steamBoxShadow);
}
.add-btn-close-popup {
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: var(--steamBoder);
    padding: 1rem 1.8rem;
    margin-top: 1.2rem;
    color: var(--steamColorWhite);
    background-color: rgb(238, 58, 58);
    transform: scale(0.9);
    transition: calc(0.3s);
    box-shadow: var(--steamBoxShadow);
    margin-right: 34%;
}

.add-btn-card-popup:hover,
.button-detail-game-popup:hover,
.add-btn-close-popup:hover {
    cursor: pointer;
    transform: scale(1);
    transition: calc(0.2s);
    box-shadow: var(--steamBoxShadowWhite);
}

// css button thể loại
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;

    padding: 20px;
    margin-top: 25px;
    transition: calc(0.4s);

    button {
        background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
        border: none;
        border-radius: 5px;
        color: white;
        padding: 15px 30px;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
        box-shadow: var(--steamBoxShadow);
        font-size: 1.8rem;
        transition: calc(0.3s);

        &:hover {
            background: linear-gradient(to right, #4a91ff, #5cb3fd);
        }
    }
}

// reponsive
@media screen and (max-width: 599px) {
    .full-screen-img {
        width: 500px;
    }
    .full-screen-slider::after {
        width: 200px;
    }

    .game_swiper_slide img {
        max-width: 14rem;
    }
}

@media screen and (max-width: 400px) {
    .game-game_swiper_slide img {
        max-width: 10.5rem;
        border-radius: 2px;
    }
}
