.menu-list {
    width: 215px;
}

.menu-more-popper {
    padding-bottom: 8px;
}

.menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    margin-top: 5px;
    border-radius: 0;

    &.line {
        border-top: 1px solid rgba(255, 255, 255, 0.432);
    }

    &:hover {
        color: var(--steamBackground);
        background-color: var(--steamColorWhite);
        transition: calc(0.3s);
    }
}

// Header

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    font-size: 1.8rem;
    color: var(--steamColorWhite);
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
