.search {
    position: relative;
    width: 385px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: var(--steamColorWhite);
    border: 1.2px solid var(--steamHoverPopUp);
    border-radius: 6px;
    transition: calc(0.2s);
    box-shadow: var(--steamBoxShadow);

    input {
        flex: 1;
        height: 100%;
        color: var(--steamColorBlack);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: var(--steamColorWhite);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--steamColorWhite);
        background-color: var(--primary);
    }

    &:hover {
        transition: calc(0.2s);
        border: 1px solid var(--primary);
        box-shadow: var(--steamBoxShadowHover);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 50px;
        width: 1.4px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--primary);
    }
}

.search-result {
    width: 445px;
}

.clear,
.loading {
    position: absolute;
    cursor: pointer;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    font-size: 1.6rem;
    color: var(--primary);
    background-color: transparent;
    transform: translateY(-50%);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 1.6rem;
    transition: calc(0.4s);
    color: var(--primary);
    background-color: var(--steamColorWhite);
    border-top-right-radius: var(--search-boder);
    border-bottom-right-radius: var(--search-boder);

    &:hover {
        cursor: pointer;
        transition: calc(0.2s);
        color: var(--steamBoxShadow);
        background-color: var(--primary);
    }
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .search {
        width: 300px;
    }
}

@media screen and (max-width: 992px) {
    .search {
        width: 250px;
    }
}
