.search_container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;

    flex-wrap: wrap;
    overflow-x: hidden;
}

.card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
}

.card3d:hover {
    z-index: 10;
    transform: scale(1.3);
}

.card3d,
.card3d img {
    cursor: hand;
    width: 180px;
    border-radius: var(--steamBoder);
    transition: all 250ms ease-out;
}
