.search_container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
}

.card3d:hover {
    z-index: 10;
    transform: scale(1.3);
}

.card3d,
.card3d img {
    cursor: hand;
    width: 180px;
    border-radius: var(--steamBoder);
    transition: all 250ms ease-out;
}

.background-video {
    width: 200vh;
    height: 60vh;
    object-fit: fill;
    margin-top: 5%;
    box-shadow: var(--activeLightShadow);
    border-radius: var(--steamBoder);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
