.wrapper {
    --search-boder: 5px;
    --search-height: 35px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    background-color: transparent;
    border-radius: 0px 0px 5px 5px;
    height: var(--default-layout-header-height, 70px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.4s;
}

.wrapper.scrolled {
    height: 68px;
    transition: 0.2s;
    background-color: var(--steamColorBlack);
    box-shadow: var(--steamBoxShadow);

    .change-btn-color {
        transform: scale(0.89);
        transition: calc(0.4s);
        color: var(--primary);
        border: 1.2px solid currentColor;
        box-shadow: rgba(0, 149, 248, 0.46) 0px 3px 8px;

        &:hover {
            transform: scale(1);
            transition: calc(0.2s);
        }
    }
}

.inner {
    height: 100%;
    margin: 0 auto;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: var(--steamBoder);
    transition: calc(0.4s);

    &:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
        text-shadow: var(--steamTextShadow);
        transition: calc(0.2s);
    }
}

.search {
    position: relative;
    width: 385px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: var(--steamColorWhite);
    border: 1.2px solid var(--steamHoverPopUp);
    border-radius: 6px;
    transition: calc(0.2s);
    box-shadow: var(--steamBoxShadow);

    input {
        flex: 1;
        height: 100%;
        color: var(--steamColorBlack);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: var(--steamColorWhite);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--steamColorWhite);
        background-color: var(--primary);
    }

    &:hover {
        transition: calc(0.2s);
        border: 1px solid var(--primary);
        box-shadow: var(--steamBoxShadowHover);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 50px;
        width: 1.2px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: var(--primary);
    }
}

.search-result {
    width: 445px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    font-size: 1.6rem;
    color: var(--primary);
    background-color: transparent;
    transform: translateY(-50%);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    font-size: 1.6rem;
    transition: calc(0.4s);
    color: var(--primary);
    background-color: var(--steamColorWhite);
    border-top-right-radius: var(--search-boder);
    border-bottom-right-radius: var(--search-boder);

    &:hover {
        cursor: pointer;
        transition: calc(0.2s);
        color: var(--steamBoxShadow);
        background-color: var(--primary);
    }
}

.more-btn {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 8px;
    padding: 4px 8px;
    color: var(--steamColorWhite);
    background-color: transparent;
    transform: rotate(180deg);
    transition: transform 0.5s ease;

    &.is-animating {
        transform: rotate(0deg);
        transition: transform 0.5s ease;
    }
}

.cart-btn {
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 8px;
    padding: 4px 10px;
    color: var(--steamColorWhite);
    transform: scale(0.89);
    transition: calc(0.3s);
    background-color: transparent;

    &:hover {
        transform: scale(1);
        transition: calc(0.2s);
    }
}
